body {
    height: 100%;
    width: 100%;
    padding: 30px;
    overflow: hidden;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right, rgb(90, 90 ,90), rgb(60, 60, 60));
    color: rgb(190, 190, 190);
}

button {
    display: block;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: green;
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}